##  Data Exploration

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
#Uploading dataset

In [4]:
import os
os.getcwd()

'/Users/aliciaremontospina/code/AlcaRmsp/the_laundromat/the_laundromat/the_laundromat'

In [5]:
csv_path = '/Users/aliciaremontospina/code/AlcaRmsp/the_laundromat/the_laundromat/the_laundromat'

In [ ]:
/Users/aliciaremontospina/code/AlcaRmsp/the_laundromat/the_laundromat/the_laundromat/raw_data/data.csv

In [6]:
csv_path

'/Users/aliciaremontospina/code/AlcaRmsp/the_laundromat/the_laundromat/the_laundromat'

In [7]:
import pandas as pd

In [10]:
df = pd.read_csv(os.path.join(csv_path, 'raw_data/data.csv'))

In [11]:
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [12]:
df.shape

(6362620, 11)

In [14]:
df.tail()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.0,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.0,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.0,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.0,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.0,C873221189,6510099.11,7360101.63,1,0

In [19]:
df.head(50)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.0,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.0,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.0,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.0,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.0,0.00,0,0
5,1,PAYMENT,7817.71,C90045638,53860.00,46042.29,M573487274,0.0,0.00,0,0
6,1,PAYMENT,7107.77,C154988899,183195.00,176087.23,M408069119,0.0,0.00,0,0
7,1,PAYMENT,7861.64,C1912850431,176087.23,168225.59,M633326333,0.0,0.00,0,0
8,1,PAYMENT,4024.36,C1265012928,2671.00,0.00,M1176932104,0.0,0.00,0,0
9,1,DEBIT,5337.77,C712410124,41720.00,36382.23,C195600860,41898.0,40348.79,0,0
10,1,DEBIT,9644.94,C1900366749,4465.00,0.00,C997608398,10845.0,157982.12,0,0
11,1,PAYMENT,3099.97,C249177573,20771.00,17671.03,M2096539129,0.0,0.00,0,0
12,1,PAYMENT,2560.74,C1648232591,5070.00,2509.26,M972865270,0.0,0.00,0,0
13,1,PAYMENT,11633.76,C1716932897,10127.00,0.00,M801569151,0.0,0.00,0,0
14,1,PAYMENT,4098.78,C1026483832,503264.00,499165.22,M1635378213,0.0,0.00,0,0
15,1,CASH_OUT,229133.94,C905080434,15325.00,0.00,C476402209,5083.0,51513.44,0,0
16,1,PAYMENT,1563.82,C761750706,450.00,0.00,M1731217984,0.0,0.00,0,0
17,1,PAYMENT,1157.86,C1237762639,21156.00,19998.14,M1877062907,0.0,0.00,0,0
18,1,PAYMENT,671.64,C2033524545,15123.00,14451.36,M473053293,0.0,0.00,0,0
19,1,TRANSFER,215310.30,C1670993182,705.00,0.00,C1100439041,22425.0,0.00,0,0
20,1,PAYMENT,1373.43,C20804602,13854.00,12480.57,M1344519051,0.0,0.00,0,0
21,1,DEBIT,9302.79,C1566511282,11299.00,1996.21,C1973538135,29832.0,16896.70,0,0
22,1,DEBIT,1065.41,C1959239586,1817.00,751.59,C515132998,10330.0,0.00,0,0
23,1,PAYMENT,3876.41,C504336483,67852.00,63975.59,M1404932042,0.0,0.00,0,0
24,1,TRANSFER,311685.89,C1984094095,10835.00,0.00,C932583850,6267.0,2719172.89,0,0
25,1,PAYMENT,6061.13,C1043358826,443.00,0.00,M1558079303,0.0,0.00,0,0
26,1,PAYMENT,9478.39,C1671590089,116494.00,107015.61,M58488213,0.0,0.00,0,0
27,1,PAYMENT,8009.09,C1053967012,10968.00,2958.91,M295304806,0.0,0.00,0,0
28,1,PAYMENT,8901.99,C1632497828,2958.91,0.00,M33419717,0.0,0.00,0,0
29,1,PAYMENT,9920.52,C764826684,0.00,0.00,M1940055334,0.0,0.00,0,0
30,1,PAYMENT,3448.92,C2103763750,0.00,0.00,M335107734,0.0,0.00,0,0
31,1,PAYMENT,4206.84,C215078753,0.00,0.00,M1757317128,0.0,0.00,0,0
32,1,PAYMENT,5885.56,C840514538,0.00,0.00,M1804441305,0.0,0.00,0,0
33,1,PAYMENT,5307.88,C1768242710,0.00,0.00,M1971783162,0.0,0.00,0,0
34,1,PAYMENT,5031.22,C247113419,0.00,0.00,M151442075,0.0,0.00,0,0
35,1,PAYMENT,24213.67,C1238616099,0.00,0.00,M70695990,0.0,0.00,0,0
36,1,PAYMENT,8603.42,C1608633989,253.00,0.00,M1615617512,0.0,0.00,0,0
37,1,PAYMENT,2791.42,C923341586,300481.00,297689.58,M107994825,0.0,0.00,0,0
38,1,PAYMENT,7413.54,C1470868839,297689.58,290276.03,M1426725223,0.0,0.00,0,0
39,1,PAYMENT,3295.19,C711197015,233633.00,230337.81,M1384454980,0.0,0.00,0,0
40,1,PAYMENT,1684.81,C1481594086,297.00,0.00,M1569435561,0.0,0.00,0,0
41,1,DEBIT,5758.59,C1466917878,32604.00,26845.41,C1297685781,209699.0,16997.22,0,0
42,1,CASH_OUT,110414.71,C768216420,26845.41,0.00,C1509514333,288800.0,2415.16,0,0
43,1,PAYMENT,7823.46,C260084831,998.00,0.00,M267814113,0.0,0.00,0,0
44,1,PAYMENT,5086.48,C598357562,0.00,0.00,M1593224710,0.0,0.00,0,0
45,1,PAYMENT,5281.48,C1440738283,152019.00,146737.52,M1849015357,0.0,0.00,0,0
46,1,PAYMENT,13875.98,C484199463,15818.00,1942.02,M2008106788,0.0,0.00,0,0
47,1,CASH_OUT,56953.90,C1570470538,1942.02,0.00,C824009085,70253.0,64106.18,0,0
48,1,CASH_OUT,5346.89,C512549200,0.00,0.00,C248609774,652637.0,6453430.91,0,0
49,1,PAYMENT,2204.04,C1615801298,586.00,0.00,M490391704,0.0,0.00,0,0